<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>
    
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>
                        A QIKbyte é especializada em técnicos e tecnologias para iniciantes na 
                        área de Desenvolvimento de Sistemas.<br><br>
                        
                        Especialistas em:
                        <ul>
                            <li><strong>Lógica de programação</strong></li>
                            <li><strong>Programação estruturada</strong> e <strong>orientada a objetos</strong> (JavaScript, C#, Java)</li>
                            <li><strong>Banco de dados</strong> (conceitual, lógico e físico)</li>
                            <li><strong>Linguagem SQL</strong></li>
                            <li><strong>Banco de dados orientado a documentos</strong> (MongoDB)</li>
                        </ul>
                        
                        Confira nossos materiais e cursos! 👍
                    </h4>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>